@using Infra.Object
@model IEnumerable<ParticipanteModel>


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
	<link rel="stylesheet" href="~/css/style.css">
	<title>Document</title>

</head>
<body>

	<h1>Seleção dos Participantes</h1>
	<hr />
	<div class="container-fluid">
		<div class="row">
			<div class="col card-inteiro">
				<div class="frame11">
					<div class="nomeLutador">
						Neymar Jr.
					</div>
					<div class="frame12">
						<div class="fotoLutador">
							<img src="imagens/neymar.jfif">
						</div>
						<div class="frame9">
							<div class="idade">
								<p>Idade: 10</p>
							</div>
							<div class="placar">
								<p>Placar: 20V - 10D</p>
							</div>
							<div class="frame10">
								<div class="titulos">
									<p>Títulos: 3 </p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col card-inteiro">
				<div class="frame11">
					<div class="nomeLutador">
						Neymar Jr.
					</div>
					<div class="frame12">
						<div class="fotoLutador">
							<img src="imagens/neymar.jfif">
						</div>
						<div class="frame9">
							<div class="idade">
								<p>Idade: 10</p>
							</div>
							<div class="placar">
								<p>Placar: 20V - 10D</p>
							</div>
							<div class="frame10">
								<div class="titulos">
									<p>Títulos: 3 </p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<<div class="col card-inteiro">
				<div class="frame11">
					<div class="nomeLutador">
						Neymar Jr.
					</div>
					<div class="frame12">
						<div class="fotoLutador">
							<img src="imagens/neymar.jfif">
						</div>
						<div class="frame9">
							<div class="idade">
								<p>Idade: 10</p>
							</div>
							<div class="placar">
								<p>Placar: 20V - 10D</p>
							</div>
							<div class="frame10">
								<div class="titulos">
									<p>Títulos: 3 </p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col card-inteiro">
				<div class="frame11">
					<div class="nomeLutador">
						Ney Jr.
					</div>
					<div class="frame12">
						<div class="fotoLutador">
							<img src="imagens/neymar.jfif">
						</div>
						<div class="frame9">
							<div class="idade">
								<p>Idade: 10</p>
							</div>
							<div class="placar">
								<p>Placar: 20V - 10D</p>
							</div>
							<div class="frame10">
								<div class="titulos">
									<p>Títulos: 3 </p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach( var participante in Model){
					<div class="col card-inteiro">
				<div class="frame11">
					<div class="nomeLutador">
						@participante.Nome
					</div>
					<div class="frame12">
						<div class="fotoLutador">
							<img src="imagens/neymar.jfif">
						</div>
						<div class="frame9">
							<div class="idade">
								<p>Idade: @participante.Idade</p>
							</div>
							<div class="placar">
								<p>Placar: @participante.Vitorias V - @participante.Derrotas D</p>
							</div>
							<div class="frame10">
								<div class="titulos">
									<p>Gols: @participante.Gols </p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
				}
				<div class="col">
					Sexto participante
				</div>
				<div class="col">
					Sétimo participante
				</div>
				<div class="col">
					Oitavo participante
				</div>
			</div>

		</div>
	</div>

</body>
</html>
